$def with (name)


<!DOCTYPE html>
<html>
<head>
  <title>Login - LaterThis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link href="/assets/application-5a7242940e057427c5df09e1b0e1af23.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/assets/application-5d3bdad3c871081536dd360612c73a90.js" type="text/javascript"></script>
	<link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <meta content="authenticity_token" name="csrf-param" />
<meta content="MBu7LNU69xc3jXKzWUcqN610+AjcR/m73elDjA5oc6g=" name="csrf-token" />
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-60088-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	<script>
		$(document).ready(function() {
			$("input[type='text']:first", document.forms[0]).focus();
		});
	</script>
</head>
<body class="box">
	<div id="container" style="max-width: 480px">
		<span id="_top"></span>
<div id="header" class="group"> 
	<h2 id="logo">
		<a href="/" data-skip-pjax="true">
			<span class="title">LATERTHIS</span>
</a>	</h2> 
	<div id="account-nav"> 
			<p><a href="/login" data-skip-pjax="true">Log in</a> or <a href="/signup" data-skip-pjax="true">Sign up</a></p>
	</div> 
</div> <!-- /header -->
<!--[if IE]>
<div id="old-browser">
	LaterThis has not been optimized for Internet Explorer. You might want to consider upgrading to <b><a href="http://www.google.com/chrome">Google Chrome</a></b> or <b><a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a></b>.
</div>
<![endif]-->
		
<div id="content">
	

	
	<form accept-charset="UTF-8" action="/user_sessions" class="new_user_session" id="new_user_session" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="MBu7LNU69xc3jXKzWUcqN610+AjcR/m73elDjA5oc6g=" /></div>

	  <div class="field text-field">
	    <label for="user_session_login">Username</label><br />
	    <input class="text-field" id="user_session_login" name="user_session[login]" size="30" type="text" />
	  </div>
	  <div class="field text-field">
	    <label for="user_session_password">Password</label><br />
	    <input class="text-field" id="user_session_password" name="user_session[password]" size="30" type="password" />
	  </div>
		<div class="field">
	    <input name="user_session[remember_me]" type="hidden" value="0" /><input checked="checked" id="user_session_remember_me" name="user_session[remember_me]" type="checkbox" value="1" /> <label for="user_session_remember_me">Keep me logged in</label>
	  </div>
	  <div class="actions">
	    <input class="button" name="commit" type="submit" value="Login" /> <a href="/password_resets/new" class="forgotten-password" data-skip-pjax="true">Forgotten password?</a>
	  </div>
</form></div>

<div class="addon-content">
	<a href="/auth/twitter" data-skip-pjax="true"><img alt="Sign in with Twitter" height="24" src="/assets/sign-in-with-twitter-6a263bfe4835809f8c65adad4885e7fe.png" width="151" /></a> <a href="/auth/facebook" data-skip-pjax="true"><img alt="Log in with Facebook" height="24" src="/assets/sign-in-with-facebook-4284bafdd2041e9068ca6cf3579ab9f4.png" width="151" /></a><br/>
	<span class="agree-to-policies">By signing up I agree to the <a href="/static/tos">Terms of Service</a> and the <a href="/static/privacy">Privacy policy</a>.</span>
</div>

<div id="footer-container">
	<div id="footer" class="group">
		<p>
			&copy; 2008-2014 Laterthis <br/>
			<a href="/homepage" data-skip-pjax="true">Home</a> - <a href="/static/welcome" data-skip-pjax="true">Extras</a> -
			<span id="footer-extras">
				<a href="/blog" data-skip-pjax="true">Blog</a> - 
				<a href="http://twitter.com/laterthis" data-skip-pjax="true">Twitter</a> - 
				<a href="http://laterthis.uservoice.com/forums/3428-general" data-skip-pjax="true">Feedback</a> -
			</span>
			<a href="/static/privacy" data-skip-pjax="true">Privacy</a> -
			<a href="/static/tos" data-skip-pjax="true">TOS</a>
		</p>
	</div>
</div>
	</div>
</body>
</html>
